$colorpalette: (
    primary: #2a3439,
    secondary: #e5e4e2,
    tertiary: #aadcf5,
    textdark: #000000,
    textlight: #ffffff,
);

$fontsizepalette: (
    headlines: 24px,
    subheaders: 16px,
    paragraphs: 14px,
    phonebody: 18px,
    phoneheader: 26px,
    phonesmall: 16px,
);